:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
/* Global styling */
.button {
  background-color: var(--color-soft-blue);
  border-radius: var(--default-radius);
  padding: 1.2rem 2.4rem;
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);

  &--secondary {
    background-color: var(--color-off-white);
    color: var(--color-very-dark-blue);
  }
  &--disabled {
    background-color: var(--color-grayish-blue);
    cursor: not-allowed;
    user-select: none;
  }
}
/* End global styling*/
/* header */
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  gap: calc(var(--default-padding) * 4);

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) * 2);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--default-padding);
  @media (max-width: 600px) {
    font-size: 1.4rem;
  }
}
.header__right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.header__right-logo {
  width: 4rem;
  max-width: 100%;
}
.header__right-title {
  font-weight: 500;
  text-transform: uppercase;
}

.header__left {
  display: flex;
  align-items: center;
  gap: var(--default-padding);

  &--menu {
    color: var(--color-very-dark-blue);
    transition: color var(--timing-animation) ease-in-out;

    &:hover {
      color: var(--color-soft-red);
    }
  }

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) / 2);
  }
}
/* End header */
/* features Section */
.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 2);

  &__title {
    font-size: 2rem; // Default font size for .section__title
  }

  &:first-of-type {
    .section__title1 {
      font-size: 4.2rem; // Font size for the first .section__title in the first .section
    }
  }

  &__text {
    color: var(--color-grayish-blue);
    font-size: 1.4rem;
  }

  &__buttons {
    display: flex;
    gap: var(--default-padding);
    margin-top: var(--default-padding);
  }
  &__button:not(.card__button) {
    @media (max-width: 600px) {
      flex: 1;
      text-align: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: calc(var(--default-padding) / 2);
  }
  &__img {
    display: flex;
    flex: 1;

    @media (max-width: 600px) {
      order: -1;
    }
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
  }
}

.section__img-screen {
  max-width: 100%;
}
/* End Features Section*/
/* Download section */
.section--one-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: calc(var(--default-padding) / 2);

  &__text {
    max-width: 50rem;
    color: var(--color-grayish-blue);
    text-align: center;
  }
}
.cards {
  display: flex;
  margin-top: calc(var(--default-padding) * 2);
  width: 100%;
  gap: var(--default-padding);
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  gap: var(--default-padding);
  padding: calc(var(--default-padding) * 2) var(--default-padding)
    var(--default-padding);
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: var(--default-radius);
  width: 25rem;
  height: 26rem;

  &__img {
    width: 6rem;
    max-width: 100%;
    margin-bottom: calc(var(--default-padding) / 2);
  }

  &__title {
    font-size: 1.8rem;
  }

  &__button {
    position: relative;
    align-self: stretch;
    text-align: center;
    margin-top: auto;

    &::before {
      content: "";
      position: absolute;
      background: url(../images/bg-dots.svg) repeat-x;
      background-size: contain;
      height: 0.3rem;
      right: calc(var(--default-padding) * -1);
      left: calc(var(--default-padding) * -1);
      top: calc(var(--default-padding) * -1.4);
    }
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}
/* End Download section */
/* FAQ section*/
.faq {
  max-width: 50rem;
  margin-top: calc(var(--default-padding) * 1.5);
  border-top: 1px solid var(--color-grayish-blue);
  border-bottom: 1px solid var(--color-grayish-blue);

  &__row {
    position: relative;
    padding: var(--default-padding) 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--color-grayish-blue);
    }
  }

  &__arrow {
    position: absolute;
    width: 1.2rem;
    max-width: 100%;
    right: 0;
    top: calc(var(--default-padding) + 0.6rem);
    transition: transform var(--timing-animation) ease-in-out;
  }

  &__input {
    display: none;

    &:checked ~ .faq__answer {
      opacity: 1;
      max-height: 30rem;
      padding: var(--default-padding);
    }

    &:checked ~ .faq__arrow {
      transform: rotate(180deg);
    }
  }

  &__question {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    text-align: start;
  }

  &__answer {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: start;
    opacity: 0;
    transition: all var(--timing-animation) ease-in-out;
    max-height: 0.1rem;
    overflow: hidden;
  }
}
/* End FAQ section*/
/* Footer*/
.footer {
  position: relative;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: var(--default-padding) 0;
  font-size: 1.4rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-very-dark-blue);
    z-index: -1;
  }

  &__left {
    margin-left: auto;

    @media (max-width: 600px) {
      margin-left: 0;
    }
  }
}
.footer__right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.footer__right-logo {
  width: 4rem;
  max-width: 100%;
}
.footer__right-title {
  font-weight: 500;
  text-transform: uppercase;
}

.footer__left {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
}
/* End Footer*/
